{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<h1>VISN1 COVID-19 Tracking Tool</h1>

<h2>About</h2>
<p>This application is designed to enable coordinated tracking and notification of patients diagnosed, tested, or otherwise under investigation for COVID-19.</p>

<h2>Reporting Issues and Getting Help</h2>
<p>For help with the application or to request a demo, please contact Bob Hall (<a href="mailto:Robert.Hall9@va.gov" class="email">Robert.Hall9@va.gov</a>).</p>
<p>To report bugs or submit a change request:</p>
<ul>
<li>E-mail Bob Hall (<a href="mailto:Robert.Hall9@va.gov" class="email">Robert.Hall9@va.gov</a>) or</li>
<li>Submit a LEAF request <a href="https://leaf.va.gov/VISN1/523/Quality_Management_Data_Request" class="uri">https://leaf.va.gov/VISN1/523/Quality_Management_Data_Request</a></li>
</ul>

<!--
<h2>Acknowledgements</h2>
<p>The VISN1 COVID-19 Tracking Tool is a product of the VA Boston CSP Informatics Center, in collaboration with clinicians and technologists at the VA Boston Healthcare System.</p>
-->

{% endblock %}
